# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local


.env
.env.local
.env.*
frontend/.env
admin/.env
*.pem
*.key
*.crt
*.p12
*.pfx
*.jks
*.secret
*.secrets

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
